<?xml version='1.0'?>
<launch>
  <arg name="location" value="latrobe"/>

  <node name="dsl_ddp_planner" pkg="gcop_ctrl" type="dsl_ddp_planner" output="screen" launch-prefix="">
    <param name="strfile_params" type="str" value="$(find gcop_ctrl)/params/dsl_ddp_planner_$(arg location).yaml"/> 
  </node>
  
  <node name='map_og_original_server' pkg='map_server' type='map_server' args='$(find gcop_ctrl)/map/map_$(arg location).yaml' output="screen">
    <param name='frame_id' value='og_org'/>
  </node> 
  
  <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_og_org" args="103 244 0 0 0 0.60876 0.79335 world og_org" />
  
</launch>
