<?xml version="1.0"?>
<launch>
  <!-- Displays the hopkins satellite image -->
  <include file="$(find rampage_logger)/launch/rampage_rosserial_ctrl.launch"/>
  <include file="$(find rampage_logger)/launch/rampage_hokuyo.launch"/>
  <include file="$(find rampage_estimator_and_controller)/launch/gcar_traj_to_uav_cmds.launch"/>
  <node name="set_angle" pkg="lidar_2dto3d" type="set_angle" args=" _cmd:=2120" />
  <include file="$(find cameras_and_sensors_launch)/launch/sensors_3dm.launch"/>

</launch>

