<?xml version="1.0"?>
<launch>
  <!-- Displays the hopkins satellite image -->
  <include file="$(find gcop_ros_est)/launch/satmap_server.launch"/>

<!--    map server and static transformation for outdoor ma	 -->
  <!--<node name='map_og_original_server' pkg='map_server' type='map_server' args='$(find gcop_ctrl)/map/map_latrobe_400.yaml' output="screen">-->
    <!--<param name='frame_id' value='og_org'/>-->
  <!--</node>-->
  <!--<node pkg="tf" type="static_transform_publisher" name="world_to_og_org" args="103 244 0 1.30899694 0 0 world og_org 50" />-->

<!--    static transformation for indoor map	 -->
  <node name='map_og_original_server' pkg='map_server' type='map_server' args='$(find gcop_ctrl)/map/map_hackerman.yaml' output="screen">
    <param name='frame_id' value='og_org'/>
  </node>	
  <node pkg="tf" type="static_transform_publisher" name="world_to_og_org" args="127 108 0 1.65 0 0 world og_org 100" />
 
 <!-- Dynamic reconfigure -->
 <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="reconfigure" output="screen" />

  <!-- Rviz node -->
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find gcop_ctrl)/launch/dsl_ddp.rviz" output="screen"/> 
</launch>

