<?xml version="1.0"?>
<launch>	
	<node name="hrotor_ovs" pkg="gcop_ctrl" type="hrotor_ovs" output="screen" >
    <remap from="/hrotor_ovs/traj" to="/mbsddp/traj_resp" />
    <remap from="/hrotor_ovs/traj_marker" to="/desired_traj" />
    <param name="im_goal_filename" type="string" value="$(find gcop_ctrl)/data/frame0006.jpg" />
    <param name="world_frame" type="string" value="world" />
    <param name="body_frame" type="string" value="dji" />
  </node>
</launch>
