<?xml version="1.0"?>
<launch>

  <param name="robot_description" textfile="$(find gcop_ros_bullet)/urdf/rccar.urdf"/>
  <arg name="paramfile" default="cerccar.yaml"/>

  <!--node name="rccar_opt" pkg="gcop_ros_bullet" type="cebulletcartest" output="screen" launch-prefix="valgrind"-->
  <node name="rccar_opt" pkg="gcop_ros_bullet" type="cebulletcartest" output="screen">
    <param name="mesh" type="str" value="plane"/>
    <param name="marker_height" type="double" value="0.0"/>
    <!--param name="mesh" type="str" value="$(find gcop_ros_bullet)/urdf/meshes/carterrain_goodquality.stl"/-->
    <rosparam command="load" file="$(find gcop_ros_bullet)/params/$(arg paramfile)"/>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
  </node>

  <node name="rcreconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find gcop_ros_bullet)/launch/rccar.rviz" />

</launch>
