<?xml version="1.0"?>
<launch>

  <param name="robot_description" textfile="$(find gcop_ros_bullet)/urdf/rccar.urdf"/>
  <param name="mesh_description" textfile="$(find gcop_ros_bullet)/urdf/mesh.urdf"/>

  <!--node name="rccar_opt" pkg="gcop_ros_bullet" type="hybrid_ceandgn_bulletcartest2" output="screen" launch-prefix="valgrind"-->
  <node name="rccar_opt" pkg="gcop_ros_bullet" type="hybrid_ceandgn_feedbacktest" output="screen">
    <param name="mesh" type="str" value="$(find gcop_ros_bullet)/urdf/meshes/carterrain_goodquality.stl"/>
    <param name="marker_height" type="double" value="0.5"/>
    <rosparam command="load" file="$(find gcop_ros_bullet)/params/ceterrain_rccar.yaml"/>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
  </node>

  <node name="feedback_parser" pkg="rampage_estimator_and_controller" type="rampage_gcop_request_feedback_traj" output="screen">
    <remap from="/feedback_parser/ctrl_traj" to="/rccar_opt/ctrl_traj"/>
  </node>

  <include file="$(find rampage_logger)/launch/rampage_rosserial.launch">
        <arg name="serial_number" value="0"/>
  </include>

  <include file="$(find rampage_logger)/launch/rampage_rosserial.launch">
        <arg name="serial_number" value="1"/>
  </include>

</launch>
